## Python map() function

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.
syntax: map(function, iterables)

In [3]:
def myfunct(par):
    return len(par)

list1 = ['Monday', 'Thursday', 'Friday', 'Saturday']
result = map(myfunct, list1)
print (result)
result = list(map(myfunct, list1))
print (result)
result = tuple(map(myfunct, list1))
print (result)

<map object at 0x0000016C7D1AF7C0>
[6, 8, 6, 8]
(6, 8, 6, 8)

In [8]:
def myfunct(par1, par2):
    return par1 + par2

list1 = list(map(myfunct, ('Sund', 'Thursda', 'Fr', 'Satur'), ('ay', 'y', 'iday')))   # operation is string concatenation
print (list1)
list1 = list(map(myfunct, [1000, 2000, 3000, 4000, 5000], [111, 222, 333, 444, 555]))   # operation is algebraic addition
print (list1)

['Sunday', 'Thursday', 'Friday']
[1111, 2222, 3333, 4444, 5555]

## Python filter() function

The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.
syntax: filter(function, iterable)

In [12]:
def myfunct(age_val):
    if (age_val >= 18): return True
    else: return False

ages = [18, 17, 90, 4, 12, 11, 74, 20]
adults = filter(myfunct, ages)
print (adults)

adults = list(filter(myfunct, ages))
print (adults)

adults = tuple(filter(myfunct, ages))
print (adults)

<filter object at 0x0000016C7D547C10>
[18, 90, 74, 20]
(18, 90, 74, 20)

## Python reduce() function

The reduce() function applies a function of two arguments cumulatively to the elements of an iterable, optionally starting with an initial argument.
syntax: reduce(function, iterable[, initial])

In [27]:
from functools import reduce
def cumulative_sum(first_num, second_num):
    # print (first_num, second_num)
    return first_num + second_num

numbers = [11, 33, 22, 55, 66]
result = reduce(cumulative_sum, numbers)
print (result)

result = reduce(cumulative_sum, numbers, 1000)
print (result)

187
1187

## Python zip() function

In [28]:
fruits = ['mango', 'apple', 'coconut', 'banana', 'pineapple']
prices = [100, 200, 300, 350, 500, 600]

result = zip(fruits, prices)
print (result)

result = list(zip(fruits, prices))
print (result)

result = dict(list(zip(fruits, prices)))
print (result)

<zip object at 0x0000016C7CF62C80>
[('mango', 100), ('apple', 200), ('coconut', 300), ('banana', 350), ('pineapple', 500)]
{'mango': 100, 'apple': 200, 'coconut': 300, 'banana': 350, 'pineapple': 500}

## Cartesian product of list items

In [21]:
from itertools import product
list1 = [111, 222, 333, 444]
list2 = [100, 200, 300]

result = product(list1, list2)
print (result)
result = list(product(list1, list2))
print (result)
result = tuple(product(list1, list2))
print (result)

<itertools.product object at 0x0000016C7D75F180>
[(111, 100), (111, 200), (111, 300), (222, 100), (222, 200), (222, 300), (333, 100), (333, 200), (333, 300), (444, 100), (444, 200), (444, 300)]
((111, 100), (111, 200), (111, 300), (222, 100), (222, 200), (222, 300), (333, 100), (333, 200), (333, 300), (444, 100), (444, 200), (444, 300))

In [24]:
from itertools import cycle
result = cycle([(11, 22), (22, 33), (33, 44), (44, 11)])
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))

(11, 22)
(22, 33)
(33, 44)
(44, 11)
(11, 22)
(22, 33)

In [25]:
result = cycle(['Emp-001', 'Amit', 'Developer'])
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))

Emp-001
Amit
Developer
Emp-001
Amit
Developer

## bisect_left and bisect_right

In [32]:
from bisect import bisect_left
from bisect import bisect_right
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
print (bisect_left(list1, 22), bisect_right(list1, 22))
print (bisect_left(list1, 88), bisect_right(list1, 88))
print (bisect_left(list1, 44), bisect_right(list1, 44))
print (bisect_left(list1, 35), bisect_right(list1, 35))
print (bisect_left(list1, 65), bisect_right(list1, 65))

1 2
7 8
3 4
3 3
5 5

In [36]:
result = input("Please enter multiple data items:").split(" ")
print (result, type(result))

Please enter multiple data items: 11 22 33 44 66 55 88 77

['11', '22', '33', '44', '66', '55', '88', '77'] <class 'list'>

In [38]:
result = list(map(int, input("Please enter multiple data items:").split(" ")))
print (result, type(result))

Please enter multiple data items: 11 22 33 44 66 55 88 77

[11, 22, 33, 44, 66, 55, 88, 77] <class 'list'>

In [39]:
result = [[int(input()) for i in range(2)] for j in range(3)]
print (result)

 11
 22
 33
 44
 55
 66

[[11, 22], [33, 44], [55, 66]]

In [40]:
result = [[int(input()) for i in range(3)] for j in range(2)]
print (result)

 11
 22
 33
 44
 55
 66

[[11, 22, 33], [44, 55, 66]]

## List Comprehension

List comprehension is a complete substitution to for loops, lambda functions as well as the functions like map(), filter() and reduce()

In [41]:
list1 = []
for x in range(10):
    list1.append(x ** 2)
print (list1)

# list comprehension
list1 = [x ** 2 for x in range(10)]
print (list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
list1 = []
for x in range(10):
    list1.append(2 * x)
print (list1)

# list comprehension
list1 = [2 * x for x in range(10)]
print (list1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [49]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
list2 = []
for x in list1:
    if (x % 2 == 0):
        list2.append(x)
print (list1)
print (list2)

# list comprehension with if condition
list2 = [x for x in list1 if (x % 2 == 0)]
print (list2)
list2 = [x for x in list1 if x % 2 == 0]
print (list2)

[11, 22, 33, 44, 55, 66, 77, 88]
[22, 44, 66, 88]
[22, 44, 66, 88]
[22, 44, 66, 88]

In [55]:
list1 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
list2 = []
for x in list1:
    if (x % 2 == 0):
        if (x % 3 == 0):
            list2.append(x)
print (list2)

# list comprehension with multiple if conditions
list2 = [x for x in list1 if (x % 2 == 0) if (x % 3 == 0)]
print (list2)
list2 = [x for x in list1 if ((x % 2 == 0) and (x % 3 == 0))]
print (list2)

[12, 18]
[12, 18]
[12, 18]

In [58]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]
list2 = []
for x in list1:
    if (x > 4): list2.append(x + 5)
    else: list2.append(x + 1)
print (list1)
print (list2)

# list comprehension with if-else condition
list2 = [x + 5 if (x > 4) else x + 1 for x in list1]
print (list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 10, 11, 12, 13]
[2, 3, 4, 5, 10, 11, 12, 13]

In [61]:
list1 = []
for x in range(3):
    temp_list = []
    for y in range(4):
        temp_list.append(0)
    list1.append(temp_list)
print (list1)

# nested list comprehensions, creation of a matrix
list1 = [[0 for col in range(4)] for row in range(3)]
print (list1)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

## How to replace map() function in combination of lambda functions

In [64]:
list1 = [10, 20, 30, 40, 50]
list2 = list(map(lambda x: 2 * x, list1))
print (list2)

# list comprehension
list2 = [2 * x for x in list1]
print (list2)

[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]

## How to replace filter() function in combination of lambda functions

In [66]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
oddnum = list(filter(lambda x: x % 2, list1))
print (oddnum)

# list comprehension with if condition
oddnum = [x for x in list1 if x % 2 == 1]
print (oddnum)

[11, 33, 55, 77]
[11, 33, 55, 77]

## How to replace reduce() function in combination of lambda functions

In [72]:
import numpy as np
from functools import reduce
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
result = reduce(lambda x, y: x + y, list1)
print (result)
print (np.median(list1), np.median(list1) * 8, sum(list1))

# list comprehension
result = sum([x for x in list1])
print (result)

396
49.5 396.0 396
396