In [3]:
print ("Hello")
print ("Welcome")

Hello
Welcome

# This is in Heading-1
## This is in Heading-2
### This is in Heading-3
#### This is in Heading-4
##### This is in Heading-5
###### This is in Heading-6

*This line in in italics*
<br>
**This line in in bold**

In [6]:
# This is a comment line
'''
This is a 
multi-line
text'''

'\nThis is a \nmulti-line\ntext'

In [12]:
print ("Hello...")
print ('Hello...')

Hello...
Hello...

In [14]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
total = num1 + num2    # string concatenation
print (num1, "+", num2, "=", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'> 200 <class 'str'>
100 + 200 = 100200
End of the program...

In [15]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
total = num1 + num2    # algebraic addition
print (num1, "+", num2, "=", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'int'> 200 <class 'int'>
100 + 200 = 300
End of the program...

In [17]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
total = num1 + num2

Please enter the first number:  100
Please enter the second number:  500

In [31]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))
print ("So {0} + {1} = {2}".format(num1, num2, total))
print ("So {2} + {0} = {1}".format(num2, total, num1))
print ("So {fnum} + {snum} = {result}".format(fnum = num1, snum = num2, result = total))
print ("So {fnum} + {snum} = {result}".format(snum = num2, fnum = num1, result = total))
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %d + %8.3f = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")

So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 +  500.000 = 600
So 100 + 500 = 600

### Arithmetic Operators

In [34]:
print (100 + 40)    # addition
print (100 - 40)    # subtraction
print (100 * 40)    # multiplication
print (100 / 40)    # division
print (100 // 40)   # integer division
print (100 ** 4)    # exponentiation
print (100 % 40)    # modulus, remainder of the division

140
60
4000
2.5
2
100000000
20

### Logical Operators

In [37]:
# logical operators: and or not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not False, not True)

False False False True
False True True True
True False

### Relational Operators

In [38]:
# relational operators: > >= < <= == !=
print (100 >= 50, 100 > 50, 100 <= 50, 100 < 50)
print (100 == 100, 100 != 200, 100 != 100, 100 == 200)

True True False False
True True False False

### Assignment operators

In [41]:
# Assignment operators: = += -= *= /= //= **= %=
a = 100
b = 200
c = a + b
print (a, b, c)
a += b   # a = a + b
print (a, b)
b **= 2
print (b)

100 200 300
300 200
40000

### Conditional Statements

In [50]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2):
    if (num1 >= num3):
        print ("I am here executing...")
        print ("So the maximum number is", num1)
    else:
        print ("So the maximum number is", num3)
elif (num2 >= num3):
    print ("So the maximum number is", num2)
else:
    print ("So the maximum number is", num3)
print ("End of the program...")

IndentationError: unexpected indent (<ipython-input-50-bb56ac542b0f>, line 7)

In [53]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2 and num1 >= num3):
    print ("So the maximum number is", num1)
elif (num2 >= num3):
    print ("So the maximum number is", num2)
else:
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300
Please enter the third number:  100

So the maximum number is 300
End of the program...

Class Assignment -
Take three integer numbers from the user and find the second maximum.

Take 3 numbers as input in num1, num2 and num3
Step-1:
Out of num1 and num2 put the maximum in max1 and other number in max2
Step-2:
Now compare num3, max1 and max2
                        max1      max2
                        500       100
num3 =>        700           400        50
               500           400        100
               max1          num3       max2

In [61]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2): max1 = num1; max2 = num2
else: max1 = num2; max2 = num1
if (num3 >= max1): print ("So the second maximum is", max1)
elif (num3 >= max2): print ("So the second maximum is", num3)
else: print ("So the second maximum is", max2)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

So the second maximum is 200
End of the program...

### Python Loops

In [70]:
i = 1
loopcount = 0
while (i <= 10):
    print (f"Executing for i = {i}")
    i += 3
    loopcount += 1
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 4
Executing for i = 7
Executing for i = 10
So the number of times loop got executed is 4
End of the program...

In [71]:
i = 1
loopcount = 0
while (i <= 10):
    print (f"Executing for i = {i}")
    i += 3
    loopcount += 1
else:
    print ("Else part is executing...")
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 4
Executing for i = 7
Executing for i = 10
Else part is executing...
So the number of times loop got executed is 4
End of the program...

In [72]:
i = 1
loopcount = 0
while (i <= 10):
    print (f"Executing for i = {i}")
    if (i == 8):
        break
    i += 1
    loopcount += 1
else:
    print ("Else part is executing...")
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 8
So the number of times loop got executed is 7
End of the program...

In [74]:
i = 1
loopcount = 0
while (i <= 10):
    if (i == 4 or i == 8):
        i += 1
        continue
    print (f"Executing for i = {i}")
    i += 1
    loopcount += 1
else:
    print ("Else part is executing...")
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 9
Executing for i = 10
Else part is executing...
So the number of times loop got executed is 8
End of the program...

In [77]:
loopcount = 0
for i in range(1, 10, 2):
    print (f"So i = {i}")
    loopcount += 1
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 1
So i = 3
So i = 5
So i = 7
So i = 9
Else block is executing...
So total number of iterations is 5
End of the program...

In [78]:
loopcount = 0
for i in range(10, 0, -1):
    print (f"So i = {i}")
    loopcount += 1
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 10
So i = 9
So i = 8
So i = 7
So i = 6
So i = 5
So i = 4
So i = 3
So i = 2
So i = 1
Else block is executing...
So total number of iterations is 10
End of the program...

In [81]:
loopcount = 0
for i in range(1, 11, 1):
    print (f"So i = {i}")
    loopcount += 1
    if (i == 4 or i == 8): break
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 1
So i = 2
So i = 3
So i = 4
So total number of iterations is 4
End of the program...

In [82]:
loopcount = 0
for i in range(1, 11, 1):
    if (i == 4 or i == 8):continue
    print (f"So i = {i}")
    loopcount += 1
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 1
So i = 2
So i = 3
So i = 5
So i = 6
So i = 7
So i = 9
So i = 10
Else block is executing...
So total number of iterations is 8
End of the program...

In [87]:
num1 = int(input("Please enter an integer: "))
if (num1 % 2 == 0):
    print (f"So {num1} is an EVEN number...")

Please enter an integer:  101

In [89]:
num1 = int(input("Please enter an integer: "))
if (num1 % 2 == 1):
    pass   # statement placeholder
else:
    print (f"So {num1} is an EVEN number...")

Please enter an integer:  100

So 100 is an EVEN number...

In [90]:
# example of nested looping...
print ("VISIT Doctor...")    # 1 time
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day number: {day} and Medicine number: {medi}")    # 15 times
    print ("Good Night...")    # 5 times
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
print ("THANKS Doctor...")    # 1 time

VISIT Doctor...
Good Morning...
Day number: 1 and Medicine number: 1
Day number: 1 and Medicine number: 2
Day number: 1 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 2 and Medicine number: 1
Day number: 2 and Medicine number: 2
Day number: 2 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 3 and Medicine number: 1
Day number: 3 and Medicine number: 2
Day number: 3 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 4 and Medicine number: 1
Day number: 4 and Medicine number: 2
Day number: 4 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 5 and Medicine number: 1
Day number: 5 and Medicine number: 2
Day number: 5 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
THANKS Doctor...

In [93]:
print ("Hello" * 5)
print ("Hello " * 5)
print ("Hi !!! " * 8)

HelloHelloHelloHelloHello
Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!

Class Assignment:

Take user input for number of layers and draw the pattern
                   i   .   *
n = 6           ---------------    
.....*             1   5   1
....***            2   4   3    . => (n - i)
...*****           3   3   5
..*******          4   2   7    * => (2 * i - 1)
.*********         5   1   9
***********        6   0  11
                ---------------

In [96]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  10

.........*
........***
.......*****
......*******
.....*********
....***********
...*************
..***************
.*****************
*******************
End of the program...

Class Assignment:
Take value of n from the user. Now take n number of integers from the user.
Now calculate and print sum, average, maximum, minimumm, even count and odd count of these numbers.

In [98]:
n = int(input("Please enter the number of numbers: "))
num1 = int(input("Please enter an integer: "))
max_num = min_num = num1
total = num1
for i in range(1, n):
    num1  = int(input("Please enter an integer: "))
    total += num1
    if (max_num < num1): max_num = num1
    if (min_num > num1): min_num = num1
print (f"So total = {total}, max = {max_num}, min = {min_num} and average = {total / n}")
print ("End of the program...")

Please enter the number of numbers:  6
Please enter an integer:  -33
Please enter an integer:  -22
Please enter an integer:  -44
Please enter an integer:  -66
Please enter an integer:  -55
Please enter an integer:  -11

So total = -231, max = -11, min = -66 and average = -38.5
End of the program...

### Python User Defined Functions

In [101]:
def funct1():
    print ("Hello " * 5)
    
funct1()
funct1()
funct1()

Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello

In [106]:
def funct2(msg, times):
    print (msg * times)
    
funct2("Welcome ", 4)
funct2("Hello !!! ", 5)
funct2("Hey... ", 3)

Welcome Welcome Welcome Welcome
Hello !!! Hello !!! Hello !!! Hello !!! Hello !!!
Hey... Hey... Hey...

In [108]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 5)
print (result)
print (funct3("Welcome ", 3))

Hello Hello Hello Hello Hello
Welcome Welcome Welcome

In [119]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"Par1 = {par1}, Par2 = {par2} and Par3 = {par3}")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par2 = 200)

Par1 = 100, Par2 = 200 and Par3 = 300
Par1 = 100, Par2 = 200 and Par3 = 333
Par1 = 100, Par2 = 222 and Par3 = 333
Par1 = 111, Par2 = 222 and Par3 = 333
Par1 = 100, Par2 = 222 and Par3 = 300
Par1 = 111, Par2 = 200 and Par3 = 300

In [121]:
# function with return boolean value
def even_check(num):
    if (num % 2 == 0): return True
    else: return False

num1 = int(input("Please enter an integer: "))
if (even_check(num1)):
    print (f"{num1} is an EVEN number...")
else:
    print (f"{num1} is an ODD number...")
print ("End of the program...")

Please enter an integer:  2021

2021 is an ODD number...
End of the program...

In [123]:
# function with return boolean value
def even_check(num):
    return num % 2 == 0

num1 = int(input("Please enter an integer: "))
if (even_check(num1)):
    print (f"{num1} is an EVEN number...")
else:
    print (f"{num1} is an ODD number...")
print ("End of the program...")

Please enter an integer:  301

301 is an ODD number...
End of the program...

In [129]:
value = 100    # implicit object
print (value, type(value), id(value))
value = 10.34
print (value, type(value), id(value))
value = True
print (value, type(value), id(value))
value = "Thanks to You"
print (value, type(value), id(value))

100 <class 'int'> 140730717975440
10.34 <class 'float'> 2815825760464
True <class 'bool'> 140730717689680
Thanks to You <class 'str'> 2815825641328

In [138]:
result = [100, 90.75, True, "Amitava"]
print (result, type(result), id(result))
result = (100, 90.75, True, "Amitava")
print (result, type(result), id(result))
result = {"mango":150, "guava":120, "pineapple":150}
print (result, type(result), id(result))
result = {10, 30, 20, "10", 40, 30, 20, 50, 10}
print (result, type(result), id(result))

[100, 90.75, True, 'Amitava'] <class 'list'> 2815825695744
(100, 90.75, True, 'Amitava') <class 'tuple'> 2815835034544
{'mango': 150, 'guava': 120, 'pineapple': 150} <class 'dict'> 2815823652416
{40, 10, 50, 20, '10', 30} <class 'set'> 2815827115808

In [143]:
# range of values in variables for having same ids is -5 to 256
var1 = 256
print (var1, type(var1), id(var1))
var2 = var1
print (var2, type(var2), id(var2))
var3 = 256
print (var3, type(var3), id(var3))

256 <class 'int'> 140730717980432
256 <class 'int'> 140730717980432
256 <class 'int'> 140730717980432

In [144]:
# range of values in variables for having same ids is -5 to 256
var1 = 257
print (var1, type(var1), id(var1))
var2 = var1
print (var2, type(var2), id(var2))
var3 = 257
print (var3, type(var3), id(var3))

257 <class 'int'> 2815835095152
257 <class 'int'> 2815835095152
257 <class 'int'> 2815835099088

In [146]:
# range of values in variables for having same ids is -5 to 256
var1 = -6
print (var1, type(var1), id(var1))
var2 = var1
print (var2, type(var2), id(var2))
var3 = -6
print (var3, type(var3), id(var3))

-6 <class 'int'> 2815835099056
-6 <class 'int'> 2815835099056
-6 <class 'int'> 2815835096176

In [150]:
# function returning multiple arguments
def funct5(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    remainder = num1 % num2
    return total, difference, product, quotient, remainder

tt, dd, pp, qq, rr = funct5(100, 40)
print (f"So total = {tt}, difference = {dd}, product = {pp}, quotient = {qq} and remainder = {rr}")
result = funct5(100, 40)
print (result, type(result), len(result), id(result))
print (f"So total = {result[0]}, difference = {result[1]}, product = {result[2]}, quotient = {result[3]} and remainder = {result[4]}")

So total = 140, difference = 60, product = 4000, quotient = 2.5 and remainder = 20
(140, 60, 4000, 2.5, 20) <class 'tuple'> 5 2815781768144
So total = 140, difference = 60, product = 4000, quotient = 2.5 and remainder = 20

In [152]:
def funct6(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
result = funct6(1000)
print (f"result = {result}")
result = funct6(1000, 7000)
print (f"result = {result}")

result = 2000
result = 8000

Class Assignment:
Write a function which returns True or False depending upon whether the input argument number to the function is prime or not. Now use this function to find all prime numbers from 1 to 100.

Prime number is that number which can be divided by 1 and by that number itself. As example 13, 17, 19 etc.

num = 100
1   100
2   50
4   25
5   20
10  10
20  5
25  4
50  2
100 1

In [156]:
def is_prime(num):
    for i in range(2, int(num ** 0.5) + 1):
        if (num % i == 0):
            return False
    return True

for num1 in range(2, 101):
    if (is_prime(num1)): print (num1, end = ", ")

2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,

In [157]:
# ternary operator
num = 101
result = "Even" if (num % 2 == 0) else "Odd"   # result = num % 2 == 0? "Even": "Odd"
print (num, result)
num = 100
result = "Even" if (num % 2 == 0) else "Odd"
print (num, result)

101 Odd
100 Even

In [165]:
# non-recursive (iterative) factorial calculating function
def factorial_nr(num):
    if (num == 0 or num == 1): return 1   # 0! = 1! = 1
    fact = num
    for i in range(2, num):
        fact *= i
        print ("Looping for i =", i)
    return fact

num = 5
print (f"So factorial of {num} is {factorial_nr(num)}")   # 5! = 5 * 4 * 3 * 2 * 1
num = 7
print (f"So factorial of {num} is {factorial_nr(num)}")

Looping for i = 2
Looping for i = 3
Looping for i = 4
So factorial of 5 is 120
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
So factorial of 7 is 5040

5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

In [ ]:
# recursive factorial calculating function
def factorial_r(num):
    if (num == 0 or num == 1): return 1   # base case, i.e. for certain inputs outputs are known to us
    return num * factorial_r(num - 1)     # recursive case, i.e. a function is calling itself either directly or indirectly

num = 5
print (f"So factorial of {num} is {factorial_nr(num)}")   # 5! = 5 * 4 * 3 * 2 * 1
num = 7
print (f"So factorial of {num} is {factorial_nr(num)}")

In [166]:
# function with variable number of arguments
def funct7(*arg):    # *arg means forcefully defining arg of type tuple
    print (arg, type(arg), len(arg), id(arg))
    
funct7("Amit", "Developer", "Hyderabad")
funct7("Amit", "Developer", "Hyderabad", 45000, "amit@gmail.com")
funct7("Amit", "Developer", "Hyderabad", 45000, "amit@gmail.com", "Genpact", True)

('Amit', 'Developer', 'Hyderabad') <class 'tuple'> 3 2815824523584
('Amit', 'Developer', 'Hyderabad', 45000, 'amit@gmail.com') <class 'tuple'> 5 2815781768144
('Amit', 'Developer', 'Hyderabad', 45000, 'amit@gmail.com', 'Genpact', True) <class 'tuple'> 7 2815835391552

In [167]:
def funct8(**kwarg):    # **kwarg means key-word argument and here forcefully defining kwarg of type dictionary
    print (kwarg, type(kwarg), len(kwarg), id(kwarg))
    
funct8(name="Amit", desig="Developer", city="Hyderabad")
funct8(name="Amit", desig="Developer", city="Hyderabad", salary=45000, email="amit@gmail.com")
funct8(name="Amit", desig="Developer", city="Hyderabad", salary=45000, email="amit@gmail.com", company="Genpact", married=True)

{'name': 'Amit', 'desig': 'Developer', 'city': 'Hyderabad'} <class 'dict'> 3 2815824428928
{'name': 'Amit', 'desig': 'Developer', 'city': 'Hyderabad', 'salary': 45000, 'email': 'amit@gmail.com'} <class 'dict'> 5 2815825406336
{'name': 'Amit', 'desig': 'Developer', 'city': 'Hyderabad', 'salary': 45000, 'email': 'amit@gmail.com', 'company': 'Genpact', 'married': True} <class 'dict'> 7 2815824425856

In [170]:
def funct9(*arg, **kwarg):
    print (arg, type(arg), len(arg), id(arg))
    print (kwarg, type(kwarg), len(kwarg), id(kwarg))
    
funct9("Amit", "Developer", "Hyderabad", salary=45000, email="amit@gmail.com", company="Genpact", married=True)
funct9("Amit", "Developer", "Hyderabad")
funct9(salary=45000, email="amit@gmail.com", company="Genpact", married=True)

('Amit', 'Developer', 'Hyderabad') <class 'tuple'> 3 2815824498176
{'salary': 45000, 'email': 'amit@gmail.com', 'company': 'Genpact', 'married': True} <class 'dict'> 4 2815826013184
('Amit', 'Developer', 'Hyderabad') <class 'tuple'> 3 2815824498176
{} <class 'dict'> 0 2815826013824
() <class 'tuple'> 0 2815733858368
{'salary': 45000, 'email': 'amit@gmail.com', 'company': 'Genpact', 'married': True} <class 'dict'> 4 2815807093440

In [174]:
i = 10
def funct10():
    i = 100
    print (i, type(i), id(i))
    
print ("Before calling the function:", i, type(i), id(i))
funct10()
print ("After calling the function:", i, type(i), id(i))

Before calling the function: 10 <class 'int'> 140730717972560
100 <class 'int'> 140730717975440
After calling the function: 10 <class 'int'> 140730717972560

In [178]:
i = 10
def funct10():
    global i
    i = 100
    print (i, type(i), id(i))
    
print ("Before calling the function:", i, type(i), id(i))
funct10()
print ("After calling the function:", i, type(i), id(i))
print (type(funct10))

Before calling the function: 10 <class 'int'> 140730717972560
100 <class 'int'> 140730717975440
After calling the function: 100 <class 'int'> 140730717975440
<class 'function'>

In [180]:
# lambda or anonymous function
mySquare = lambda number: number * number
num = 5
print (f"So square of {num} is {mySquare(num)}")
num = 9
print (f"So square of {num} is {mySquare(num)}")
print (type(mySquare))

So square of 5 is 25
So square of 9 is 81
<class 'function'>

num = a + b  # assignment statement
+10 => here + is unary operator
-10 => here - is unary operator
20 + 30 => here + is binary operator

In [181]:
# lambda or anonymous function
myAddition = lambda number1, number2: number1 + number2
num1 = 5
num2 = 10
print (f"So sum of {num1} and {num2} is {myAddition(num1, num2)}")
num1 = 105
num2 = 1010
print (f"So sum of {num1} and {num2} is {myAddition(num1, num2)}")

So sum of 5 and 10 is 15
So sum of 105 and 1010 is 1115

In [183]:
# recursive lambda function
myFactorial = lambda num: 1 if (num == 0 or num == 1) else num * myFactorial(num - 1)

n = 5
print (f"So factorial of {n} is {myFactorial(n)}")
n = 7
print (f"So factorial of {n} is {myFactorial(n)}")

So factorial of 5 is 120
So factorial of 7 is 5040

In [188]:
def funct11(num):
    myProd = lambda n: n * num
    # print (type(myProd))
    return myProd

var10 = funct11(10)
var20 = funct11(20)
# print (var10, type(var10))
print (var10(5))
print (var20(6)) 
print (funct11(20)(6))

50
120
120