In [3]:
print ("Hello")
print ("Welcome")

Hello
Welcome

# This is in Heading-1
## This is in Heading-2
### This is in Heading-3
#### This is in Heading-4
##### This is in Heading-5
###### This is in Heading-6

*This line in in italics*
<br>
**This line in in bold**

In [6]:
# This is a comment line
'''
This is a 
multi-line
text'''

'\nThis is a \nmulti-line\ntext'

In [12]:
print ("Hello...")
print ('Hello...')

Hello...
Hello...

In [14]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
total = num1 + num2    # string concatenation
print (num1, "+", num2, "=", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'> 200 <class 'str'>
100 + 200 = 100200
End of the program...

In [15]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
total = num1 + num2    # algebraic addition
print (num1, "+", num2, "=", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'int'> 200 <class 'int'>
100 + 200 = 300
End of the program...

In [17]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
total = num1 + num2

Please enter the first number:  100
Please enter the second number:  500

In [31]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))
print ("So {0} + {1} = {2}".format(num1, num2, total))
print ("So {2} + {0} = {1}".format(num2, total, num1))
print ("So {fnum} + {snum} = {result}".format(fnum = num1, snum = num2, result = total))
print ("So {fnum} + {snum} = {result}".format(snum = num2, fnum = num1, result = total))
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %d + %8.3f = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")

So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 + 500 = 600
So 100 +  500.000 = 600
So 100 + 500 = 600

### Arithmetic Operators

In [34]:
print (100 + 40)    # addition
print (100 - 40)    # subtraction
print (100 * 40)    # multiplication
print (100 / 40)    # division
print (100 // 40)   # integer division
print (100 ** 4)    # exponentiation
print (100 % 40)    # modulus, remainder of the division

140
60
4000
2.5
2
100000000
20

### Logical Operators

In [37]:
# logical operators: and or not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not False, not True)

False False False True
False True True True
True False

### Relational Operators

In [38]:
# relational operators: > >= < <= == !=
print (100 >= 50, 100 > 50, 100 <= 50, 100 < 50)
print (100 == 100, 100 != 200, 100 != 100, 100 == 200)

True True False False
True True False False

### Assignment operators

In [41]:
# Assignment operators: = += -= *= /= //= **= %=
a = 100
b = 200
c = a + b
print (a, b, c)
a += b   # a = a + b
print (a, b)
b **= 2
print (b)

100 200 300
300 200
40000

### Conditional Statements

In [50]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2):
    if (num1 >= num3):
        print ("I am here executing...")
        print ("So the maximum number is", num1)
    else:
        print ("So the maximum number is", num3)
elif (num2 >= num3):
    print ("So the maximum number is", num2)
else:
    print ("So the maximum number is", num3)
print ("End of the program...")

IndentationError: unexpected indent (<ipython-input-50-bb56ac542b0f>, line 7)

In [53]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2 and num1 >= num3):
    print ("So the maximum number is", num1)
elif (num2 >= num3):
    print ("So the maximum number is", num2)
else:
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300
Please enter the third number:  100

So the maximum number is 300
End of the program...

Class Assignment -
Take three integer numbers from the user and find the second maximum.

Take 3 numbers as input in num1, num2 and num3
Step-1:
Out of num1 and num2 put the maximum in max1 and other number in max2
Step-2:
Now compare num3, max1 and max2
                        max1      max2
                        500       100
num3 =>        700           400        50
               500           400        100
               max1          num3       max2

In [61]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2): max1 = num1; max2 = num2
else: max1 = num2; max2 = num1
if (num3 >= max1): print ("So the second maximum is", max1)
elif (num3 >= max2): print ("So the second maximum is", num3)
else: print ("So the second maximum is", max2)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

So the second maximum is 200
End of the program...

### Python Loops

In [70]:
i = 1
loopcount = 0
while (i <= 10):
    print (f"Executing for i = {i}")
    i += 3
    loopcount += 1
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 4
Executing for i = 7
Executing for i = 10
So the number of times loop got executed is 4
End of the program...

In [71]:
i = 1
loopcount = 0
while (i <= 10):
    print (f"Executing for i = {i}")
    i += 3
    loopcount += 1
else:
    print ("Else part is executing...")
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 4
Executing for i = 7
Executing for i = 10
Else part is executing...
So the number of times loop got executed is 4
End of the program...

In [72]:
i = 1
loopcount = 0
while (i <= 10):
    print (f"Executing for i = {i}")
    if (i == 8):
        break
    i += 1
    loopcount += 1
else:
    print ("Else part is executing...")
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 8
So the number of times loop got executed is 7
End of the program...

In [74]:
i = 1
loopcount = 0
while (i <= 10):
    if (i == 4 or i == 8):
        i += 1
        continue
    print (f"Executing for i = {i}")
    i += 1
    loopcount += 1
else:
    print ("Else part is executing...")
print ("So the number of times loop got executed is", loopcount)
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 9
Executing for i = 10
Else part is executing...
So the number of times loop got executed is 8
End of the program...

In [77]:
loopcount = 0
for i in range(1, 10, 2):
    print (f"So i = {i}")
    loopcount += 1
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 1
So i = 3
So i = 5
So i = 7
So i = 9
Else block is executing...
So total number of iterations is 5
End of the program...

In [78]:
loopcount = 0
for i in range(10, 0, -1):
    print (f"So i = {i}")
    loopcount += 1
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 10
So i = 9
So i = 8
So i = 7
So i = 6
So i = 5
So i = 4
So i = 3
So i = 2
So i = 1
Else block is executing...
So total number of iterations is 10
End of the program...

In [81]:
loopcount = 0
for i in range(1, 11, 1):
    print (f"So i = {i}")
    loopcount += 1
    if (i == 4 or i == 8): break
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 1
So i = 2
So i = 3
So i = 4
So total number of iterations is 4
End of the program...

In [82]:
loopcount = 0
for i in range(1, 11, 1):
    if (i == 4 or i == 8):continue
    print (f"So i = {i}")
    loopcount += 1
else:
    print ("Else block is executing...")
print ("So total number of iterations is", loopcount)
print ("End of the program...")

So i = 1
So i = 2
So i = 3
So i = 5
So i = 6
So i = 7
So i = 9
So i = 10
Else block is executing...
So total number of iterations is 8
End of the program...

In [87]:
num1 = int(input("Please enter an integer: "))
if (num1 % 2 == 0):
    print (f"So {num1} is an EVEN number...")

Please enter an integer:  101

In [89]:
num1 = int(input("Please enter an integer: "))
if (num1 % 2 == 1):
    pass   # statement placeholder
else:
    print (f"So {num1} is an EVEN number...")

Please enter an integer:  100

So 100 is an EVEN number...

In [90]:
# example of nested looping...
print ("VISIT Doctor...")    # 1 time
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day number: {day} and Medicine number: {medi}")    # 15 times
    print ("Good Night...")    # 5 times
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
print ("THANKS Doctor...")    # 1 time

VISIT Doctor...
Good Morning...
Day number: 1 and Medicine number: 1
Day number: 1 and Medicine number: 2
Day number: 1 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 2 and Medicine number: 1
Day number: 2 and Medicine number: 2
Day number: 2 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 3 and Medicine number: 1
Day number: 3 and Medicine number: 2
Day number: 3 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 4 and Medicine number: 1
Day number: 4 and Medicine number: 2
Day number: 4 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day number: 5 and Medicine number: 1
Day number: 5 and Medicine number: 2
Day number: 5 and Medicine number: 3
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
THANKS Doctor...

In [93]:
print ("Hello" * 5)
print ("Hello " * 5)
print ("Hi !!! " * 8)

HelloHelloHelloHelloHello
Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!

Class Assignment:

Take user input for number of layers and draw the pattern
                   i   .   *
n = 6           ---------------    
.....*             1   5   1
....***            2   4   3    . => (n - i)
...*****           3   3   5
..*******          4   2   7    * => (2 * i - 1)
.*********         5   1   9
***********        6   0  11
                ---------------

In [96]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  10

.........*
........***
.......*****
......*******
.....*********
....***********
...*************
..***************
.*****************
*******************
End of the program...

Class Assignment:
Take value of n from the user. Now take n number of integers from the user.
Now calculate and print sum, average, maximum, minimumm, even count and odd count of these numbers.

In [98]:
n = int(input("Please enter the number of numbers: "))
num1 = int(input("Please enter an integer: "))
max_num = min_num = num1
total = num1
for i in range(1, n):
    num1  = int(input("Please enter an integer: "))
    total += num1
    if (max_num < num1): max_num = num1
    if (min_num > num1): min_num = num1
print (f"So total = {total}, max = {max_num}, min = {min_num} and average = {total / n}")
print ("End of the program...")

Please enter the number of numbers:  6
Please enter an integer:  -33
Please enter an integer:  -22
Please enter an integer:  -44
Please enter an integer:  -66
Please enter an integer:  -55
Please enter an integer:  -11

So total = -231, max = -11, min = -66 and average = -38.5
End of the program...

### Python User Defined Functions

In [101]:
def funct1():
    print ("Hello " * 5)
    
funct1()
funct1()
funct1()

Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello

In [106]:
def funct2(msg, times):
    print (msg * times)
    
funct2("Welcome ", 4)
funct2("Hello !!! ", 5)
funct2("Hey... ", 3)

Welcome Welcome Welcome Welcome
Hello !!! Hello !!! Hello !!! Hello !!! Hello !!!
Hey... Hey... Hey...

In [108]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 5)
print (result)
print (funct3("Welcome ", 3))

Hello Hello Hello Hello Hello
Welcome Welcome Welcome

In [119]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"Par1 = {par1}, Par2 = {par2} and Par3 = {par3}")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par2 = 200)

Par1 = 100, Par2 = 200 and Par3 = 300
Par1 = 100, Par2 = 200 and Par3 = 333
Par1 = 100, Par2 = 222 and Par3 = 333
Par1 = 111, Par2 = 222 and Par3 = 333
Par1 = 100, Par2 = 222 and Par3 = 300
Par1 = 111, Par2 = 200 and Par3 = 300

In [121]:
# function with return boolean value
def even_check(num):
    if (num % 2 == 0): return True
    else: return False

num1 = int(input("Please enter an integer: "))
if (even_check(num1)):
    print (f"{num1} is an EVEN number...")
else:
    print (f"{num1} is an ODD number...")
print ("End of the program...")

Please enter an integer:  2021

2021 is an ODD number...
End of the program...

In [123]:
# function with return boolean value
def even_check(num):
    return num % 2 == 0

num1 = int(input("Please enter an integer: "))
if (even_check(num1)):
    print (f"{num1} is an EVEN number...")
else:
    print (f"{num1} is an ODD number...")
print ("End of the program...")

Please enter an integer:  301

301 is an ODD number...
End of the program...

In [129]:
value = 100    # implicit object
print (value, type(value), id(value))
value = 10.34
print (value, type(value), id(value))
value = True
print (value, type(value), id(value))
value = "Thanks to You"
print (value, type(value), id(value))

100 <class 'int'> 140730717975440
10.34 <class 'float'> 2815825760464
True <class 'bool'> 140730717689680
Thanks to You <class 'str'> 2815825641328

In [138]:
result = [100, 90.75, True, "Amitava"]
print (result, type(result), id(result))
result = (100, 90.75, True, "Amitava")
print (result, type(result), id(result))
result = {"mango":150, "guava":120, "pineapple":150}
print (result, type(result), id(result))
result = {10, 30, 20, "10", 40, 30, 20, 50, 10}
print (result, type(result), id(result))

[100, 90.75, True, 'Amitava'] <class 'list'> 2815825695744
(100, 90.75, True, 'Amitava') <class 'tuple'> 2815835034544
{'mango': 150, 'guava': 120, 'pineapple': 150} <class 'dict'> 2815823652416
{40, 10, 50, 20, '10', 30} <class 'set'> 2815827115808

In [143]:
# range of values in variables for having same ids is -5 to 256
var1 = 256
print (var1, type(var1), id(var1))
var2 = var1
print (var2, type(var2), id(var2))
var3 = 256
print (var3, type(var3), id(var3))

256 <class 'int'> 140730717980432
256 <class 'int'> 140730717980432
256 <class 'int'> 140730717980432

In [144]:
# range of values in variables for having same ids is -5 to 256
var1 = 257
print (var1, type(var1), id(var1))
var2 = var1
print (var2, type(var2), id(var2))
var3 = 257
print (var3, type(var3), id(var3))

257 <class 'int'> 2815835095152
257 <class 'int'> 2815835095152
257 <class 'int'> 2815835099088

In [146]:
# range of values in variables for having same ids is -5 to 256
var1 = -6
print (var1, type(var1), id(var1))
var2 = var1
print (var2, type(var2), id(var2))
var3 = -6
print (var3, type(var3), id(var3))

-6 <class 'int'> 2815835099056
-6 <class 'int'> 2815835099056
-6 <class 'int'> 2815835096176

In [150]:
# function returning multiple arguments
def funct5(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    remainder = num1 % num2
    return total, difference, product, quotient, remainder

tt, dd, pp, qq, rr = funct5(100, 40)
print (f"So total = {tt}, difference = {dd}, product = {pp}, quotient = {qq} and remainder = {rr}")
result = funct5(100, 40)
print (result, type(result), len(result), id(result))
print (f"So total = {result[0]}, difference = {result[1]}, product = {result[2]}, quotient = {result[3]} and remainder = {result[4]}")

So total = 140, difference = 60, product = 4000, quotient = 2.5 and remainder = 20
(140, 60, 4000, 2.5, 20) <class 'tuple'> 5 2815781768144
So total = 140, difference = 60, product = 4000, quotient = 2.5 and remainder = 20

In [152]:
def funct6(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
result = funct6(1000)
print (f"result = {result}")
result = funct6(1000, 7000)
print (f"result = {result}")

result = 2000
result = 8000

Class Assignment:
Write a function which returns True or False depending upon whether the input argument number to the function is prime or not. Now use this function to find all prime numbers from 1 to 100.

Prime number is that number which can be divided by 1 and by that number itself. As example 13, 17, 19 etc.

num = 100
1   100
2   50
4   25
5   20
10  10
20  5
25  4
50  2
100 1

In [156]:
def is_prime(num):
    for i in range(2, int(num ** 0.5) + 1):
        if (num % i == 0):
            return False
    return True

for num1 in range(2, 101):
    if (is_prime(num1)): print (num1, end = ", ")

2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,

In [157]:
# ternary operator
num = 101
result = "Even" if (num % 2 == 0) else "Odd"   # result = num % 2 == 0? "Even": "Odd"
print (num, result)
num = 100
result = "Even" if (num % 2 == 0) else "Odd"
print (num, result)

101 Odd
100 Even

In [165]:
# non-recursive (iterative) factorial calculating function
def factorial_nr(num):
    if (num == 0 or num == 1): return 1   # 0! = 1! = 1
    fact = num
    for i in range(2, num):
        fact *= i
        print ("Looping for i =", i)
    return fact

num = 5
print (f"So factorial of {num} is {factorial_nr(num)}")   # 5! = 5 * 4 * 3 * 2 * 1
num = 7
print (f"So factorial of {num} is {factorial_nr(num)}")

Looping for i = 2
Looping for i = 3
Looping for i = 4
So factorial of 5 is 120
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
So factorial of 7 is 5040

5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

In [ ]:
# recursive factorial calculating function
def factorial_r(num):
    if (num == 0 or num == 1): return 1   # base case, i.e. for certain inputs outputs are known to us
    return num * factorial_r(num - 1)     # recursive case, i.e. a function is calling itself either directly or indirectly

num = 5
print (f"So factorial of {num} is {factorial_nr(num)}")   # 5! = 5 * 4 * 3 * 2 * 1
num = 7
print (f"So factorial of {num} is {factorial_nr(num)}")

In [166]:
# function with variable number of arguments
def funct7(*arg):    # *arg means forcefully defining arg of type tuple
    print (arg, type(arg), len(arg), id(arg))
    
funct7("Amit", "Developer", "Hyderabad")
funct7("Amit", "Developer", "Hyderabad", 45000, "amit@gmail.com")
funct7("Amit", "Developer", "Hyderabad", 45000, "amit@gmail.com", "Genpact", True)

('Amit', 'Developer', 'Hyderabad') <class 'tuple'> 3 2815824523584
('Amit', 'Developer', 'Hyderabad', 45000, 'amit@gmail.com') <class 'tuple'> 5 2815781768144
('Amit', 'Developer', 'Hyderabad', 45000, 'amit@gmail.com', 'Genpact', True) <class 'tuple'> 7 2815835391552

In [167]:
def funct8(**kwarg):    # **kwarg means key-word argument and here forcefully defining kwarg of type dictionary
    print (kwarg, type(kwarg), len(kwarg), id(kwarg))
    
funct8(name="Amit", desig="Developer", city="Hyderabad")
funct8(name="Amit", desig="Developer", city="Hyderabad", salary=45000, email="amit@gmail.com")
funct8(name="Amit", desig="Developer", city="Hyderabad", salary=45000, email="amit@gmail.com", company="Genpact", married=True)

{'name': 'Amit', 'desig': 'Developer', 'city': 'Hyderabad'} <class 'dict'> 3 2815824428928
{'name': 'Amit', 'desig': 'Developer', 'city': 'Hyderabad', 'salary': 45000, 'email': 'amit@gmail.com'} <class 'dict'> 5 2815825406336
{'name': 'Amit', 'desig': 'Developer', 'city': 'Hyderabad', 'salary': 45000, 'email': 'amit@gmail.com', 'company': 'Genpact', 'married': True} <class 'dict'> 7 2815824425856

In [170]:
def funct9(*arg, **kwarg):
    print (arg, type(arg), len(arg), id(arg))
    print (kwarg, type(kwarg), len(kwarg), id(kwarg))
    
funct9("Amit", "Developer", "Hyderabad", salary=45000, email="amit@gmail.com", company="Genpact", married=True)
funct9("Amit", "Developer", "Hyderabad")
funct9(salary=45000, email="amit@gmail.com", company="Genpact", married=True)

('Amit', 'Developer', 'Hyderabad') <class 'tuple'> 3 2815824498176
{'salary': 45000, 'email': 'amit@gmail.com', 'company': 'Genpact', 'married': True} <class 'dict'> 4 2815826013184
('Amit', 'Developer', 'Hyderabad') <class 'tuple'> 3 2815824498176
{} <class 'dict'> 0 2815826013824
() <class 'tuple'> 0 2815733858368
{'salary': 45000, 'email': 'amit@gmail.com', 'company': 'Genpact', 'married': True} <class 'dict'> 4 2815807093440

In [174]:
i = 10
def funct10():
    i = 100
    print (i, type(i), id(i))
    
print ("Before calling the function:", i, type(i), id(i))
funct10()
print ("After calling the function:", i, type(i), id(i))

Before calling the function: 10 <class 'int'> 140730717972560
100 <class 'int'> 140730717975440
After calling the function: 10 <class 'int'> 140730717972560

In [178]:
i = 10
def funct10():
    global i
    i = 100
    print (i, type(i), id(i))
    
print ("Before calling the function:", i, type(i), id(i))
funct10()
print ("After calling the function:", i, type(i), id(i))
print (type(funct10))

Before calling the function: 10 <class 'int'> 140730717972560
100 <class 'int'> 140730717975440
After calling the function: 100 <class 'int'> 140730717975440
<class 'function'>

In [180]:
# lambda or anonymous function
mySquare = lambda number: number * number
num = 5
print (f"So square of {num} is {mySquare(num)}")
num = 9
print (f"So square of {num} is {mySquare(num)}")
print (type(mySquare))

So square of 5 is 25
So square of 9 is 81
<class 'function'>

num = a + b  # assignment statement
+10 => here + is unary operator
-10 => here - is unary operator
20 + 30 => here + is binary operator

In [181]:
# lambda or anonymous function
myAddition = lambda number1, number2: number1 + number2
num1 = 5
num2 = 10
print (f"So sum of {num1} and {num2} is {myAddition(num1, num2)}")
num1 = 105
num2 = 1010
print (f"So sum of {num1} and {num2} is {myAddition(num1, num2)}")

So sum of 5 and 10 is 15
So sum of 105 and 1010 is 1115

In [183]:
# recursive lambda function
myFactorial = lambda num: 1 if (num == 0 or num == 1) else num * myFactorial(num - 1)

n = 5
print (f"So factorial of {n} is {myFactorial(n)}")
n = 7
print (f"So factorial of {n} is {myFactorial(n)}")

So factorial of 5 is 120
So factorial of 7 is 5040

In [188]:
def funct11(num):
    myProd = lambda n: n * num
    # print (type(myProd))
    return myProd

var10 = funct11(10)
var20 = funct11(20)
# print (var10, type(var10))
print (var10(5))
print (var20(6)) 
print (funct11(20)(6))

50
120
120

American Standard Code for Information Interchange (ASCII) Code:
ASCII Code is of 8 bits => Value will range from 0 to 255 and we shall have 256 values/combinations in total.

Category 1: (0 to 127) Normal ASCII Codes (Printable)
Category 2: (128 to 255) Extended ASCII Codes (Non-Printable)

0 => 48   a => 97    A => 65  (Difference is 32)
1 => 49   b => 98    B => 66  Esc => 27         Enter => 13
...       ...        ...      Tab => 8
...       ...        ...      Back Space => 9
9 => 57   z => 122   Z => 90  Space => 32

In [192]:
print (chr(65), chr(97), chr(122), chr(90))   # chr() will convert ASCII numeric code to character
print (ord('A'), ord('a'), ord('z'), ord('Z'))   # ord() will convert character to ASCII numeric code

A a z Z
65 97 122 90

Class Assignment:

n = 11 (Odd)     i   .   *    m = (n + 1) // 2 = 6
               ------------- 
***********      1   0  11        (n, m, i)
.*********       2   1   9   . => (i - 1)
..*******        3   2   7
...*****         4   3   5   * => (2 * (m - i) + 1)
....***          5   4   3
.....*         __6___5___1__
....***          7   4   3
...*****         8   3   5   . => (n - i)
..*******        9   2   7
.*********      10   1   9   * => (2 * (i - m) + 1)
***********     11   0  11
               -------------

In [196]:
while(True):
    n = int(input("Please enter ODD number of layers:"))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (n - i); s = (2 * (i - m) + 1)
    else: b = (i - 1); s = (2 * (m - i) + 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter ODD number of layers: 10
Please enter ODD number of layers: 12
Please enter ODD number of layers: 14
Please enter ODD number of layers: 18
Please enter ODD number of layers: 11

***********
.*********
..*******
...*****
....***
.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [ ]:
Class Assignment:

n = 11 (Odd)     i   .   *    m = (n + 1) // 2 = 6
               ------------- 
.....A           1   5   1        (n, m, i)
....ABC          2   4   3   . => (m - i)
...ABCDE         3   3   5
..ABCDEFG        4   2   7   * => (2 * i - 1)
.ABCDEFGHI       5   1   9
ABCDEFGHIJK    __6___0__11__
.ABCDEFGHI       7   1   9
..ABCDEFG        8   2   7   . => (i - m)
...ABCDE         9   3   5
....ABC         10   4   3   * => (2 * (n - i) + 1)
.....A          11   5   1
               -------------
               Tracing Table

In [198]:
while(True):
    n = int(input("Please enter ODD number of layers:"))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b, end = "")
    for i in range(1, s + 1):
        print (chr(i + 64), end = "")
    print ()
print ("End of the program...")

Please enter ODD number of layers: 11

.....A
....ABC
...ABCDE
..ABCDEFG
.ABCDEFGHI
ABCDEFGHIJK
.ABCDEFGHI
..ABCDEFG
...ABCDE
....ABC
.....A
End of the program...

### Math Module

In [199]:
# importing the required module
import math

In [220]:
print (math.sin(0), math.cos(0), math.tan(0))
num1 = 100
num2 = 350
print (f"Num1 = {num1}, Num2 = {num2}, GCD = {math.gcd(num1, num2)} and LCM = {(num1 * num2) // math.gcd(num1, num2)}")
print (math.ceil(9.1), math.ceil(9.9), math.floor(9.1), math.floor(9.9))
print (math.factorial(5), math.factorial(7))
print (math.log(10), math.log(1024, 2), math.log2(1024), math.log(10000, 10), math.log10(10000))
print (math.sqrt(121), math.sqrt(16))
print (math.pow(10, 4), 10 ** 4)
mySqrt = math.sqrt
print (mySqrt(121), mySqrt(81))
print (abs(-10.45), abs(10.45))
print (math.pi, math.tau, math.e)

0.0 1.0 0.0
Num1 = 100, Num2 = 350, GCD = 50 and LCM = 700
10 10 9 9
120 5040
2.302585092994046 10.0 10.0 4.0 4.0
11.0 4.0
10000.0 10000
11.0 9.0
10.45 10.45
3.141592653589793 6.283185307179586 2.718281828459045

In [218]:
help (math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [ ]:
help(math)

### String Processing

index from left to right =>   0   1   2   3   4   5   6   7   8   9
                   mystr =>   u   n   i   v   e   r   s   i   t   y
index from right to left => -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [238]:
# indexing and slicing
mystr = "university"
print (mystr, len(mystr), type(mystr))
print (mystr[4], mystr[-6], mystr[8], mystr[-2], mystr[1], mystr[-9])  # indexing
print (mystr[6:], mystr[-4:], mystr[:6], mystr[:-4])
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8])
print (mystr[1::2], mystr[::2])
print (mystr[8:2:-1], mystr[-2:-8:-1], mystr[-2:2:-1], mystr[8:-8:-1])
print (mystr[::-1])

university 10 <class 'str'>
e e t t n n
sity sity univer univer
niversi niversi niversi niversi
nvriy uiest
tisrev tisrev tisrev tisrev
ytisrevinu

In [239]:
# print sub-string "ver" in 4 ways
mystr = "university"
print (mystr, len(mystr), type(mystr))
print(mystr[3:6],mystr[3:-4],mystr[-7:6],mystr[-7:-4])

university 10 <class 'str'>
ver ver ver ver

In [240]:
mystr = "unIVerSIty of caLCuttA"
print (mystr, len(mystr), type(mystr))
print (mystr.title())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.lower())
print (mystr.upper())

unIVerSIty of caLCuttA 22 <class 'str'>
University Of Calcutta
University of calcutta
UNivERsiTY OF CAlcUTTa
university of calcutta
UNIVERSITY OF CALCUTTA

In [241]:
mystr = "university"
for ch in mystr:
    print (ch)

u
n
i
v
e
r
s
i
t
y

In [242]:
mystr = "university"
for i in range(len(mystr)):
    print (mystr[i])

u
n
i
v
e
r
s
i
t
y

In [246]:
mystr = "abcdefgh"
print (mystr, len(mystr), mystr.isspace(), mystr.isalpha(), mystr.isalnum(), mystr.isdigit())
mystr = "abcd1234"
print (mystr, len(mystr), mystr.isspace(), mystr.isalpha(), mystr.isalnum(), mystr.isdigit())
mystr = "12345678"
print (mystr, len(mystr), mystr.isspace(), mystr.isalpha(), mystr.isalnum(), mystr.isdigit())
mystr = "        "
print (mystr, len(mystr), mystr.isspace(), mystr.isalpha(), mystr.isalnum(), mystr.isdigit())

abcdefgh 8 False True True False
abcd1234 8 False False True False
12345678 8 False False True True
         8 True False False False

In [249]:
mystr = "Good morning"
print (mystr)
print (mystr.replace("morning", "night"))
print (mystr)
mystr = mystr.replace("morning", "night")
print (mystr)

Good morning
Good night
Good morning
Good night

In [254]:
try:
    mystr = "charity begins at home"
    print (mystr, len(mystr), type(mystr))
    print (mystr.index("beg"))
    print (mystr.index("ity"))
    print (mystr.index("Beg"))
except ValueError as ve:
    print ("Unsuccessful searching of the search string...")

charity begins at home 22 <class 'str'>
8
4
Unsuccessful searching of the search string...

In [256]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr))
print (mystr.find("beg"))
print (mystr.find("ity"))
print (mystr.find("Beg"))

charity begins at home 22 <class 'str'>
8
4
-1

In [264]:
# startswith() and endswith() methods
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr))
print (mystr.endswith("home"))
print (mystr.endswith("begins"), mystr.endswith("begins", 0, 14), mystr.endswith("begins", 5, 14), mystr.endswith("begins", 5, 13))
print (mystr.startswith("home"))
print (mystr.startswith("charity"), mystr.startswith("begins", 0, 14), mystr.startswith("begins", 8, 14), mystr.startswith("begins", 8, 10))

charity begins at home 22 <class 'str'>
True
False True True False
False
True False True False

In [269]:
mystr = "    charity      at home     "
print (mystr, len(mystr), type(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    charity      at home      29 <class 'str'>
charity      at home 20
charity      at home      25
    charity      at home 24

In [270]:
mystr = "#@#@charity@@@@#at home@@###@"
print (mystr, len(mystr), type(mystr))
print (mystr.strip("@#"), len(mystr.strip("@#")))
print (mystr.lstrip("@#"), len(mystr.lstrip("@#")))
print (mystr.rstrip("@#"), len(mystr.rstrip("@#")))

#@#@charity@@@@#at home@@###@ 29 <class 'str'>
charity@@@@#at home 19
charity@@@@#at home@@###@ 25
#@#@charity@@@@#at home 23

### List Processing

In [273]:
list1 = [100, 200, 400, 500, 300, 600]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 200, 400, 500, 300, 600] 6 <class 'list'> 2815824781824
600 100
2100 350.0

In [279]:
list1 = ['Saturday', 'Friday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['Saturday', 'Friday', 'Sunday', 'Thursday'] 4 <class 'list'> 2815827485184
Thursday Friday

In [282]:
list1 = [100, 'Saturday', 'Friday', 200, 300, 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
# print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

[100, 'Saturday', 'Friday', 200, 300, 'Sunday', 'Thursday'] 7 <class 'list'> 2815826015296

In [283]:
list1 = ['Amitava', True, 44000.50, 35]
print (list1, len(list1), type(list1), id(list1))

['Amitava', True, 44000.5, 35] 4 <class 'list'> 2815825641152

In [289]:
list1 = ['Saturday', 'Friday', 'Sunday']
list2 = ['Thursday', 'Wednesday', 'Monday', 'Tuesday']
print (list1, len(list1))
print (list2, len(list2))
list3 = list1 + list2    # list concatenation
print (list3, len(list3))
list4 = [list1, list2]   # creating list of lists
print (list4, len(list4))

['Saturday', 'Friday', 'Sunday'] 3
['Thursday', 'Wednesday', 'Monday', 'Tuesday'] 4
['Saturday', 'Friday', 'Sunday', 'Thursday', 'Wednesday', 'Monday', 'Tuesday'] 7
[['Saturday', 'Friday', 'Sunday'], ['Thursday', 'Wednesday', 'Monday', 'Tuesday']] 2

In [297]:
# list indexing and slicing
print (list3, len(list3))
print (list3[3], list3[-4], list3[4], list3[4][3:6])
print (list3[3:], list3[-4:])
print (list3[2:5], list3[-5:-2])

['Saturday', 'Friday', 'Sunday', 'Thursday', 'Wednesday', 'Monday', 'Tuesday'] 7
Thursday Thursday Wednesday nes
['Thursday', 'Wednesday', 'Monday', 'Tuesday'] ['Thursday', 'Wednesday', 'Monday', 'Tuesday']
['Sunday', 'Thursday', 'Wednesday'] ['Sunday', 'Thursday', 'Wednesday']

In [302]:
list4 = [list1, list2]   # creating list of lists
print (list4, len(list4))
print (list4[0], list4[-2])
print (list4[1][1:3], list4[-1][-3:-1])
print (list4[1][1][3:6])

[['Saturday', 'Friday', 'Sunday'], ['Thursday', 'Wednesday', 'Monday', 'Tuesday']] 2
['Saturday', 'Friday', 'Sunday'] ['Saturday', 'Friday', 'Sunday']
['Wednesday', 'Monday'] ['Wednesday', 'Monday']
nes

In [284]:
# append and insert operations
list1 = ['Saturday', 'Friday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
list1.append("Wednesday")
list1.append('Monday')
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Sunday', 'Thursday'] 4 <class 'list'> 2815830668928
['Saturday', 'Friday', 'Sunday', 'Thursday', 'Wednesday', 'Monday'] 6 <class 'list'> 2815830668928

In [305]:
list1 = ['Saturday', 'Friday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
list1.insert(2, 'Wednesday')
print (list1, len(list1), type(list1), id(list1))
list1.insert(3, 'Tuesday')
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Sunday', 'Thursday'] 4 <class 'list'> 2815826661504
['Saturday', 'Friday', 'Wednesday', 'Sunday', 'Thursday'] 5 <class 'list'> 2815826661504
['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815826661504

In [307]:
# delete operation
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
result = list1.pop()
print (result)
result = list1.pop()
print (result)
result = list1.pop()
print (result)
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815831070720
Thursday
Sunday
Tuesday
['Saturday', 'Friday', 'Wednesday'] 3 <class 'list'> 2815831070720

In [311]:
# delete operation
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
result = list1.pop(2)
print (result)
print (list1, len(list1), type(list1), id(list1))
result = list1.pop(3)
print (result)
print (list1, len(list1), type(list1), id(list1))
result = list1.pop(0)
print (result)
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815830685888
Wednesday
['Saturday', 'Friday', 'Tuesday', 'Sunday', 'Thursday'] 5 <class 'list'> 2815830685888
Sunday
['Saturday', 'Friday', 'Tuesday', 'Thursday'] 4 <class 'list'> 2815830685888
Saturday
['Friday', 'Tuesday', 'Thursday'] 3 <class 'list'> 2815830685888

In [313]:
# delete operation
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
result = list1.remove('Wednesday')
print (result)
print (list1, len(list1), type(list1), id(list1))
list1.remove('Sunday')
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815825155840
None
['Saturday', 'Friday', 'Tuesday', 'Sunday', 'Thursday'] 5 <class 'list'> 2815825155840
['Saturday', 'Friday', 'Tuesday', 'Thursday'] 4 <class 'list'> 2815825155840

In [314]:
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
list1.clear()
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815828357504
[] 0 <class 'list'> 2815828357504

In [315]:
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
del list1
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815825236160

NameError: name 'list1' is not defined

In [318]:
list1 = ['Saturday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
list1.extend(['Friday', 'Wednesday'])
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Tuesday', 'Sunday', 'Thursday'] 4 <class 'list'> 2815826527808
['Saturday', 'Tuesday', 'Sunday', 'Thursday', 'Friday', 'Wednesday'] 6 <class 'list'> 2815826527808

In [321]:
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
list1.sort()
print (list1, len(list1), type(list1), id(list1))
list1.reverse()
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815824829824
['Friday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'] 6 <class 'list'> 2815824829824
['Wednesday', 'Tuesday', 'Thursday', 'Sunday', 'Saturday', 'Friday'] 6 <class 'list'> 2815824829824

In [322]:
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
list1 = sorted(list1)
print (list1, len(list1), type(list1), id(list1))
list1.reverse()
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815826681664
['Friday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'] 6 <class 'list'> 2815825488320
['Wednesday', 'Tuesday', 'Thursday', 'Sunday', 'Saturday', 'Friday'] 6 <class 'list'> 2815825488320

In [326]:
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
print (any(list1), all(list1))
list1 = ['Saturday', 'Friday', '', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
print (any(list1), all(list1))
list1 = ['', '', '']
print (list1, len(list1), type(list1), id(list1))
print (any(list1), all(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815825075392
True True
['Saturday', 'Friday', '', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815830036288
True False
['', '', ''] 3 <class 'list'> 2815825074624
False False

In [327]:
# update operation
list1 = ['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday']
print (list1, len(list1), type(list1), id(list1))
list1[2] = 'Tuesday'
print (list1, len(list1), type(list1), id(list1))

['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815830221120
['Saturday', 'Friday', 'Tuesday', 'Tuesday', 'Sunday', 'Thursday'] 6 <class 'list'> 2815830221120

In [ ]:
Class Assignment-1:
Take a sentence (in any case, with any character) from user input and find number of vowels and consonants in it.

In [328]:
sentence = input("Please enter a sentecnce: ")
vowel_count = 0
consonant_count = 0
for ch in sentence.lower():
    if (ch.isalpha()):
        if (ch in "aeiou"):
            vowel_count += 1
        else:
            consonant_count += 1
print (f"So No. of Vowels = {vowel_count} and No. of Consonants = {consonant_count}...")

Please enter a sentecnce:  ram IS a Good Boy.

So No. of Vowels = 6 and No. of Consonants = 7...

Class Assignment-2:
Take n from the user. Take n number of numbers from the user and put them in a list and display it. Now segregate all even and odd numbers from the list and put them in two separate lists and print both the lists.

In [331]:
n = int(input("Please enter number of numbers: "))
nums = []
for i in range(n):
    number = int(input("Please enter number No. " + str(i + 1) + ": "))
    nums.append(number)
print ("So set of input numbers are", nums)
even_num = []
odd_num = []
for x in nums:
    if (x % 2 == 0): even_num.append(x)
    else: odd_num.append(x)
print ("Even number list:", even_num)
print ("Odd number list:", odd_num)
print ("End of the program...")

Please enter number of numbers:  8
Please enter number No. 1:  22
Please enter number No. 2:  44
Please enter number No. 3:  11
Please enter number No. 4:  33
Please enter number No. 5:  66
Please enter number No. 6:  55
Please enter number No. 7:  88
Please enter number No. 8:  77

So set of input numbers are [22, 44, 11, 33, 66, 55, 88, 77]
Even number list: [22, 44, 66, 88]
Odd number list: [11, 33, 55, 77]
End of the program...

In [336]:
mystr = "Ram is a good boy"
print (mystr, len(mystr))
list1 = mystr.split()
print (list1, len(list1))
list1 = mystr.split(" ")
print (list1, len(list1))
list1 = mystr.split("a")
print (list1, len(list1))

Ram is a good boy 17
['Ram', 'is', 'a', 'good', 'boy'] 5
['Ram', 'is', 'a', 'good', 'boy'] 5
['R', 'm is ', ' good boy'] 3

In [342]:
list1 = ['Ram', 'is', 'a', 'good', 'boy']
print (list1, len(list1))
mystr = " ".join(list1)
print (mystr, len(mystr))
mystr = "-".join(list1)
print (mystr, len(mystr))
mystr = " _ ".join(list1)
print (mystr, len(mystr))

['Ram', 'is', 'a', 'good', 'boy'] 5
Ram is a good boy 17
Ram-is-a-good-boy 17
Ram _ is _ a _ good _ boy 25

### Tuple Processing

In [343]:
tuple1 = (100, 200, 400, 500, 300, 600)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 200, 400, 500, 300, 600) 6 <class 'tuple'> 2815828839872
600 100
2100 350.0

In [348]:
tuple1 = ('Saturday', 'Friday', 'Sunday', 'Thursday')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('Saturday', 'Friday', 'Sunday', 'Thursday') 4 <class 'tuple'> 2815828825888
Thursday Friday

In [352]:
tuple1 = (100, 'Saturday', 'Friday', 200, 300, 'Sunday', 'Thursday')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
# print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 'Saturday', 'Friday', 200, 300, 'Sunday', 'Thursday') 7 <class 'tuple'> 2815826021056

In [346]:
tuple1 = ('Amitava', True, 44000.50, 35)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))

('Amitava', True, 44000.5, 35) 4 <class 'tuple'> 2815828825888

In [355]:
tuple1 = ('Saturday', 'Friday', 'Sunday')
tuple2 = ('Thursday', 'Wednesday', 'Monday', 'Tuesday')
print (tuple1, len(tuple1))
print (tuple2, len(tuple2))
tuple3 = tuple1 + tuple2    # tuple concatenation
print (tuple3, len(tuple3))
tuple4 = (tuple1, tuple2)   # creating tuple of tuples
print (tuple4, len(tuple4), len(tuple4[0]), len(tuple4[1]))

('Saturday', 'Friday', 'Sunday') 3
('Thursday', 'Wednesday', 'Monday', 'Tuesday') 4
('Saturday', 'Friday', 'Sunday', 'Thursday', 'Wednesday', 'Monday', 'Tuesday') 7
(('Saturday', 'Friday', 'Sunday'), ('Thursday', 'Wednesday', 'Monday', 'Tuesday')) 2 3 4

In [356]:
print (tuple3, len(tuple3))
print (tuple3[3], tuple3[-4], tuple3[4], tuple3[4][3:6])
print (tuple3[3:], tuple3[-4:])
print (tuple3[2:5], tuple3[-5:-2])

('Saturday', 'Friday', 'Sunday', 'Thursday', 'Wednesday', 'Monday', 'Tuesday') 7
Thursday Thursday Wednesday nes
('Thursday', 'Wednesday', 'Monday', 'Tuesday') ('Thursday', 'Wednesday', 'Monday', 'Tuesday')
('Sunday', 'Thursday', 'Wednesday') ('Sunday', 'Thursday', 'Wednesday')

In [357]:
tuple3 = (tuple1, tuple2)   # creating tuple of tuples
print (tuple3, len(tuple3))
print (tuple3[0], tuple3[-2])
print (tuple3[1][1:3], tuple3[-1][-3:-1])
print (tuple3[1][1][3:6])

(('Saturday', 'Friday', 'Sunday'), ('Thursday', 'Wednesday', 'Monday', 'Tuesday')) 2
('Saturday', 'Friday', 'Sunday') ('Saturday', 'Friday', 'Sunday')
('Wednesday', 'Monday') ('Wednesday', 'Monday')
nes

In [363]:
tuple1 = (11, 22, 33, 22, 11, 33, 44, 44, 44, 44, 22)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (tuple1.index(22), tuple1.index(22, 1), tuple1.index(22, 2), tuple1.index(22, 4))
print (tuple1.count(22), tuple1.count(44))

(11, 22, 33, 22, 11, 33, 44, 44, 44, 44, 22) 11 <class 'tuple'> 2815831955008
1 1 3 10
3 4

### Dictionary Processing

In [367]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.items())
print (dict1.keys())
print (dict1.values())

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350} 4 <class 'dict'> 2815824638208
dict_items([('mango', 100), ('orange', 200), ('apple', 300), ('guava', 350)])
dict_keys(['mango', 'orange', 'apple', 'guava'])
dict_values([100, 200, 300, 350])

In [368]:
dict1 = {'mango':100, 'orange':200, 'apple':100, 'guava':350, 'orange':800}
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 800, 'apple': 100, 'guava': 350} 4 <class 'dict'> 2815834580224

In [372]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1["orange"])
print (dict1.get("orange"))
print (dict1.get("coconut"))
print (dict1.get("coconut", "Not available"))
print (dict1["coconut"])

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350} 4 <class 'dict'> 2815831299584
200
200
None
Not available

KeyError: 'coconut'

In [373]:
mykeys = ['Key-1', 'Key-2', 'Key-3', 'Key-4']
value = 100
dict1 = dict.fromkeys(mykeys, value)
print (dict1, len(dict1))

{'Key-1': 100, 'Key-2': 100, 'Key-3': 100, 'Key-4': 100} 4

In [377]:
dict1 = {"mango": 100}
print (dict1)
dict1.setdefault("mango", 500)
print (dict1)
dict1.setdefault("Mango", 500)
print (dict1)

{'mango': None}
{'mango': None}
{'mango': None, 'Mango': 500}

In [379]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["orange"] = 999   # update
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["coconut"] = 550  # insert
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350} 4 <class 'dict'> 2815831752128
{'mango': 100, 'orange': 999, 'apple': 300, 'guava': 350} 4 <class 'dict'> 2815831752128
{'mango': 100, 'orange': 999, 'apple': 300, 'guava': 350, 'coconut': 550} 5 <class 'dict'> 2815831752128

In [381]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350} 4 <class 'dict'> 2815834723584
{} 0 <class 'dict'> 2815834723584

In [382]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350} 4 <class 'dict'> 2815835422144

NameError: name 'dict1' is not defined

In [385]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350, 'pineapple':500, 'coconut':450}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1["mango"]
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1["pineapple"]
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350, 'pineapple': 500, 'coconut': 450} 6 <class 'dict'> 2815824069632
{'orange': 200, 'apple': 300, 'guava': 350, 'pineapple': 500, 'coconut': 450} 5 <class 'dict'> 2815824069632
{'orange': 200, 'apple': 300, 'guava': 350, 'coconut': 450} 4 <class 'dict'> 2815824069632

In [386]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350, 'pineapple':500, 'coconut':450}
print (dict1, len(dict1), type(dict1), id(dict1))
result = dict1.popitem()
print (result)
print (dict1, len(dict1), type(dict1), id(dict1))
result = dict1.popitem()
print (result)
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350, 'pineapple': 500, 'coconut': 450} 6 <class 'dict'> 2815834546112
('coconut', 450)
{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350, 'pineapple': 500} 5 <class 'dict'> 2815834546112
('pineapple', 500)
{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350} 4 <class 'dict'> 2815834546112

In [390]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350, 'pineapple':500, 'coconut':450}
print (dict1, len(dict1), type(dict1), id(dict1))
result = dict1.pop('apple')
print (result)
print (dict1, len(dict1), type(dict1), id(dict1))
result = dict1.pop('orange')
print (result)
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350, 'pineapple': 500, 'coconut': 450} 6 <class 'dict'> 2815835827392
300
{'mango': 100, 'orange': 200, 'guava': 350, 'pineapple': 500, 'coconut': 450} 5 <class 'dict'> 2815835827392
200
{'mango': 100, 'guava': 350, 'pineapple': 500, 'coconut': 450} 4 <class 'dict'> 2815835827392

In [392]:
dict1 = {'mango':100, 'orange':200, 'apple':300, 'guava':350, 'pineapple':500, 'coconut':450}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1['apple']
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1['pineapple']
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 100, 'orange': 200, 'apple': 300, 'guava': 350, 'pineapple': 500, 'coconut': 450} 6 <class 'dict'> 2815835849024
{'mango': 100, 'orange': 200, 'guava': 350, 'pineapple': 500, 'coconut': 450} 5 <class 'dict'> 2815835849024
{'mango': 100, 'orange': 200, 'guava': 350, 'coconut': 450} 4 <class 'dict'> 2815835849024

In [393]:
dict1 = {'mango': 100, 'orange': 200, 'guava': 350}
print (dict1, len(dict1), type(dict1), id(dict1))
dict2 = {'pineapple': 500, 'coconut': 450}
print (dict2, len(dict2), type(dict2), id(dict2))
dict1.update(dict2)
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict2, len(dict2), type(dict2), id(dict2))

{'mango': 100, 'orange': 200, 'guava': 350} 3 <class 'dict'> 2815826989248
{'pineapple': 500, 'coconut': 450} 2 <class 'dict'> 2815831428352
{'mango': 100, 'orange': 200, 'guava': 350, 'pineapple': 500, 'coconut': 450} 5 <class 'dict'> 2815826989248
{'pineapple': 500, 'coconut': 450} 2 <class 'dict'> 2815831428352

In [398]:
def switch_demo(arg):
    switcher = {1:'jan', 2:'feb', 3:'mar', 4:'apr', 5:'may', 6:'jun', 7:'jul', 8:'aug', 9:'sep', 10:'oct', 11:'nov', 12:'dec'}
    return switcher.get(arg, "Inalid Month No.").upper()
                
print (switch_demo(4))
print (switch_demo(6))
print (switch_demo(7))
print (switch_demo(14))

APR
JUN
JUL
INALID MONTH NO.

Class Assignment:
Leetcode: 1. Two Sum (https://leetcode.com/problems/two-sum/)
Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.
You may assume that each input would have exactly one solution, and you may not use the same element twice.
You can return the answer in any order.

Example 1:
Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

Example 2:
Input: nums = [3,2,4], target = 6
Output: [1,2]

Example 3:
Input: nums = [3,3], target = 6
Output: [0,1]

def twoSum(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """

In [405]:
def twoSum(nums, target):
    mydict = {}
    for i in range(len(nums)):
        if (target - nums[i]) in mydict:
            return [i, mydict[target - nums[i]]]
        else:
            mydict[nums[i]] = i
        print (mydict)
    
print (twoSum(nums = [11, 15, 31,2,7], target = 9))
print (twoSum(nums = [3,2,4], target = 6))
print (twoSum(nums = [3,3], target = 6))

{11: 0}
{11: 0, 15: 1}
{11: 0, 15: 1, 31: 2}
{11: 0, 15: 1, 31: 2, 2: 3}
[4, 3]
{3: 0}
{3: 0, 2: 1}
[2, 1]
{3: 0}
[1, 0]

Class Assignment:
Take a word from the user and find count of each distinct letter in the given word.
Example: I/P -> missiccippi
m -> 1
c -> 2
p -> 2
i -> 4
s -> 2

In [400]:
myword = "missiccippi"
mydict = {}
for ch in myword:
    if (ch in mydict): mydict[ch] += 1
    else: mydict[ch] = 1
print (mydict)

{'m': 1, 'i': 4, 's': 2, 'c': 2, 'p': 2}

### Set Processing

In [408]:
# defining empty list, tuples, dictionary and set
list1 = []
print (list1, len(list1), type(list1), id(list1))
tuple1 = ()
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {}
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = set()
print (set1, len(set1), type(set1), id(set1))

[] 0 <class 'list'> 2815835498176
() 0 <class 'tuple'> 2815733858368
{} 0 <class 'dict'> 2815831678720
set() 0 <class 'set'> 2815834552800

In [410]:
snakes = set(['cobra', 'python', 'viper', 'cobra', 'python'])  # forming set from a list
print (snakes, len(snakes), type(snakes), id(snakes))
languages = {'c++', 'python', 'java'}    # forming a set directly
print (languages, len(languages), type(languages), id(languages))

{'viper', 'cobra', 'python'} 3 <class 'set'> 2815825248320
{'java', 'python', 'c++'} 3 <class 'set'> 2815825250784

#### Set Operations

<img src = "SetOperations.png" width = 300 height = 300>

In [414]:
# union operation on set
languages = {'java', 'python', 'c++'}
print (languages, len(languages), type(languages), id(languages))
snakes = {'viper', 'cobra', 'python'}
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.union(snakes)
print (result, len(result), type(result), id(result))
result = languages | snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

{'java', 'python', 'c++'} 3 <class 'set'> 2815836373504
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815836374176
{'java', 'viper', 'cobra', 'python', 'c++'} 5 <class 'set'> 2815837910176
{'java', 'viper', 'cobra', 'python', 'c++'} 5 <class 'set'> 2815836374624
{'java', 'python', 'c++'} 3 <class 'set'> 2815836373504
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815836374176

In [415]:
# union operation on frozen set
languages = frozenset(['java', 'python', 'c++'])
print (languages, len(languages), type(languages), id(languages))
snakes = frozenset(['viper', 'cobra', 'python'])
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.union(snakes)
print (result, len(result), type(result), id(result))
result = languages | snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815829396832
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815829395040
frozenset({'java', 'viper', 'cobra', 'python', 'c++'}) 5 <class 'frozenset'> 2815829395936
frozenset({'java', 'viper', 'cobra', 'python', 'c++'}) 5 <class 'frozenset'> 2815829394144
frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815829396832
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815829395040

In [417]:
# intersection operation on set
languages = {'java', 'python', 'c++'}
print (languages, len(languages), type(languages), id(languages))
snakes = {'viper', 'cobra', 'python'}
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.intersection(snakes)
print (result, len(result), type(result), id(result))
result = languages & snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))
languages.intersection_update(snakes)
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

{'java', 'python', 'c++'} 3 <class 'set'> 2815828900320
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815828899424
{'python'} 1 <class 'set'> 2815828901664
{'python'} 1 <class 'set'> 2815828901440
{'java', 'python', 'c++'} 3 <class 'set'> 2815828900320
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815828899424
{'python'} 1 <class 'set'> 2815828900320
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815828899424

In [418]:
# intersection operation on frozen set
languages = frozenset(['java', 'python', 'c++'])
print (languages, len(languages), type(languages), id(languages))
snakes = frozenset(['viper', 'cobra', 'python'])
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.intersection(snakes)
print (result, len(result), type(result), id(result))
result = languages & snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815836820192
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815836822432
frozenset({'python'}) 1 <class 'frozenset'> 2815836813792
frozenset({'python'}) 1 <class 'frozenset'> 2815836811552
frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815836820192
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815836822432

In [419]:
# difference operation on set
languages = {'java', 'python', 'c++'}
print (languages, len(languages), type(languages), id(languages))
snakes = {'viper', 'cobra', 'python'}
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.difference(snakes)
print (result, len(result), type(result), id(result))
result = languages - snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))
languages.difference_update(snakes)
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

{'java', 'python', 'c++'} 3 <class 'set'> 2815836820640
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815837855072
{'java', 'c++'} 2 <class 'set'> 2815838190496
{'java', 'c++'} 2 <class 'set'> 2815838187808
{'java', 'python', 'c++'} 3 <class 'set'> 2815836820640
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815837855072
{'java', 'c++'} 2 <class 'set'> 2815836820640
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815837855072

In [420]:
# difference operation on frozen set
languages = frozenset(['java', 'python', 'c++'])
print (languages, len(languages), type(languages), id(languages))
snakes = frozenset(['viper', 'cobra', 'python'])
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.difference(snakes)
print (result, len(result), type(result), id(result))
result = languages - snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815836903008
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815836904800
frozenset({'java', 'c++'}) 2 <class 'frozenset'> 2815836903456
frozenset({'java', 'c++'}) 2 <class 'frozenset'> 2815836901888
frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815836903008
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815836904800

In [421]:
# symmetric difference operation on set
languages = {'java', 'python', 'c++'}
print (languages, len(languages), type(languages), id(languages))
snakes = {'viper', 'cobra', 'python'}
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.symmetric_difference(snakes)
print (result, len(result), type(result), id(result))
result = languages ^ snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))
languages.symmetric_difference_update(snakes)
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

{'java', 'python', 'c++'} 3 <class 'set'> 2815834865216
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815834864992
{'cobra', 'c++', 'viper', 'java'} 4 <class 'set'> 2815834863872
{'cobra', 'c++', 'viper', 'java'} 4 <class 'set'> 2815834862080
{'java', 'python', 'c++'} 3 <class 'set'> 2815834865216
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815834864992
{'cobra', 'c++', 'java', 'viper'} 4 <class 'set'> 2815834865216
{'viper', 'cobra', 'python'} 3 <class 'set'> 2815834864992

In [422]:
# symmetric difference operation on frozen set
languages = frozenset(['java', 'python', 'c++'])
print (languages, len(languages), type(languages), id(languages))
snakes = frozenset(['viper', 'cobra', 'python'])
print (snakes, len(snakes), type(snakes), id(snakes))
result = languages.symmetric_difference(snakes)
print (result, len(result), type(result), id(result))
result = languages ^ snakes
print (result, len(result), type(result), id(result))
print (languages, len(languages), type(languages), id(languages))
print (snakes, len(snakes), type(snakes), id(snakes))

frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815828367392
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815828368736
frozenset({'cobra', 'c++', 'viper', 'java'}) 4 <class 'frozenset'> 2815828367840
frozenset({'cobra', 'c++', 'viper', 'java'}) 4 <class 'frozenset'> 2815828366048
frozenset({'java', 'python', 'c++'}) 3 <class 'frozenset'> 2815828367392
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'> 2815828368736

In [430]:
set1 = set([11, 22, 33, 44])
set2 = set([22, 33, 44])
set3 = set([77, 88, 99])
print (set1, len(set1), type(set1))
print (set2, len(set2), type(set2))
print (set3, len(set3), type(set3))
print (set1.issubset(set2), set2.issubset(set1), set3.issubset(set1))
print (set1.issuperset(set2), set2.issuperset(set1), set3.issuperset(set1))
print (set1.isdisjoint(set2), set2.isdisjoint(set1), set3.isdisjoint(set1))

{33, 11, 44, 22} 4 <class 'set'>
{33, 44, 22} 3 <class 'set'>
{88, 99, 77} 3 <class 'set'>
False True False
True False False
False False True

In [431]:
set1 = frozenset([11, 22, 33, 44])
set2 = frozenset([22, 33, 44])
set3 = frozenset([77, 88, 99])
print (set1, len(set1), type(set1))
print (set2, len(set2), type(set2))
print (set3, len(set3), type(set3))
print (set1.issubset(set2), set2.issubset(set1), set3.issubset(set1))
print (set1.issuperset(set2), set2.issuperset(set1), set3.issuperset(set1))
print (set1.isdisjoint(set2), set2.isdisjoint(set1), set3.isdisjoint(set1))

frozenset({33, 11, 44, 22}) 4 <class 'frozenset'>
frozenset({33, 44, 22}) 3 <class 'frozenset'>
frozenset({88, 99, 77}) 3 <class 'frozenset'>
False True False
True False False
False False True

In [434]:
set1 = set([11, 22, 33, 44])
set2 = set([44, 77, 88, 99])
print (set1, len(set1), type(set1))
print (set2, len(set2), type(set2))
set1.update(set2)
print (set1, len(set1), type(set1))
print (set2, len(set2), type(set2))

{33, 11, 44, 22} 4 <class 'set'>
{88, 99, 44, 77} 4 <class 'set'>
{33, 99, 11, 44, 77, 22, 88} 7 <class 'set'>
{88, 99, 44, 77} 4 <class 'set'>

In [435]:
set1 = set([11, 22, 33, 44])
print (set1, len(set1), type(set1))
set1.add(55)
print (set1, len(set1), type(set1))
set1.add(77)
print (set1, len(set1), type(set1))
set1.add(99)
print (set1, len(set1), type(set1))

{33, 11, 44, 22} 4 <class 'set'>
{33, 11, 44, 22, 55} 5 <class 'set'>
{33, 11, 44, 77, 22, 55} 6 <class 'set'>
{33, 99, 11, 44, 77, 22, 55} 7 <class 'set'>

In [437]:
set1 = set([33, 99, 11, 44, 77, 22, 55])
print (set1, len(set1), type(set1))
print (set1.pop())
print (set1, len(set1), type(set1))
print (set1.pop())
print (set1, len(set1), type(set1))
print (set1.pop())
print (set1, len(set1), type(set1))

{33, 99, 11, 44, 77, 22, 55} 7 <class 'set'>
33
{99, 11, 44, 77, 22, 55} 6 <class 'set'>
99
{11, 44, 77, 22, 55} 5 <class 'set'>
11
{44, 77, 22, 55} 4 <class 'set'>

In [441]:
set1 = set([33, 99, 11, 44, 77, 22, 55])
print (set1, len(set1), type(set1))
set1.discard(44)
print (set1, len(set1), type(set1))
set1.discard(99)
print (set1, len(set1), type(set1))
set1.discard(100)
print (set1, len(set1), type(set1))

{33, 99, 11, 44, 77, 22, 55} 7 <class 'set'>
{33, 99, 11, 77, 22, 55} 6 <class 'set'>
{33, 11, 77, 22, 55} 5 <class 'set'>
{33, 11, 77, 22, 55} 5 <class 'set'>

In [443]:
set1 = set([33, 99, 11, 44, 77, 22, 55])
print (set1, len(set1), type(set1))
set1.clear()
print (set1, len(set1), type(set1))

{33, 99, 11, 44, 77, 22, 55} 7 <class 'set'>
set() 0 <class 'set'>

In [444]:
set1 = set([33, 99, 11, 44, 77, 22, 55])
print (set1, len(set1), type(set1))
del set1
print (set1, len(set1), type(set1))

{33, 99, 11, 44, 77, 22, 55} 7 <class 'set'>

NameError: name 'set1' is not defined

In [445]:
set1 = set([33, 99, 11, 44, 77, 22, 55])
print (set1, len(set1), type(set1))
set1.discard(99)
set1.add(999)
print (set1, len(set1), type(set1))

{33, 99, 11, 44, 77, 22, 55} 7 <class 'set'>
{33, 999, 11, 44, 77, 22, 55} 7 <class 'set'>

In [447]:
tuple1 = (11, 33, 22, 44, 22, 55)
print (tuple1, len(tuple1), type(tuple1))
tuple1[1] = 300

(11, 33, 22, 44, 22, 55) 6 <class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [449]:
# updating tuple in an indirect way
tuple1 = (11, 33, 22, 44, 22, 55)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
# tuple1[1] = 300
list1 = list(tuple1)
print (list1, len(list1), type(list1), id(list1))
list1[1] = 300
print (list1, len(list1), type(list1), id(list1))
tuple1 = tuple(list1)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))

(11, 33, 22, 44, 22, 55) 6 <class 'tuple'> 2815824950464
[11, 33, 22, 44, 22, 55] 6 <class 'list'> 2815827582464
[11, 300, 22, 44, 22, 55] 6 <class 'list'> 2815827582464
(11, 300, 22, 44, 22, 55) 6 <class 'tuple'> 2815838123008